<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project rendering data</title>
        <link rel="stylesheet" href="css/bootstrap.css"></head>
    <link rel="stylesheet" href="css/bootstrap.min.css"></head>
<link rel="stylesheet" href="css/app.css"></head>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"></head>
<link
rel="stylesheet"
href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></head>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
crossorigin="anonymous">
<body>
<div class="navigation-wrap bg-light start-header start-style">
<div class="container">
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/" target="_blank">
                1337
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto py-4 py-md-0">
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                        <a
                            class="nav-link dropdown-toggle"
                            data-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">Home</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Ngak Tau</a>
                            <a class="dropdown-item" href="#">Link Apa</a>
                        </div>
                    </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="https://github.com/fathoniwasesojatiTelkom">About Me</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</div>
</div>
</div>